@page "/"
@using SharedModels
@using Services
@using Microsoft.Extensions.Localization

@inject ContentService contentService;
@inject IStringLocalizer<App> localizer

<div class="outerContainer">
    @if (_dataLoaded == false)
    {
        <p>@localizer["LoadingPrompt"]</p>
    }
    else if (localized_data != null && localized_data.HasError)
    {
        <HomePage.Shared.PageComponents.ErrorDialog LocalizedError="@localized_data.Error.LocalizedError" />
    }
    else if (localized_data == null)
    {
        <HomePage.Shared.PageComponents.ErrorDialog LocalizedError="@localizer["LoadingFailed"]" />
    }
    else
    {
        <div class="row">

            <HomePage.Shared.PageComponents.ImageView Value="@localized_data.ProfileImage" ContainerClassName="col-md-3" ImgClassName="profile_img" />
            <div class="col">
                <div class="container profileBox">

                    <h1 class="container row">@localized_data.Name</h1>

                    <div class="container row">
                        <h2>@localizer["Common"]</h2>
                        @if (Descriptions?.Any() ?? false)
                        {
                            @foreach (var item in Descriptions)
                            {
                                <p>@item</p>
                            }
                        }
                    </div>

                    <div class="container row">
                        <h2>@localizer["Contacts"]</h2>
                        <div class="container">
                            <div class="row">
                                <span class="col-sm-2">@(string.Format("{0}: ", localizer["Email"]))</span>
                                <span class="col">@localized_data.Email</span>
                            </div>
                            @if (!linkedInUrlEmpty)
                            {
                                <div class="row">
                                    <span class="col-sm-2">@(string.Format("{0}: ", "LinkedIn"))</span>
                                    <a class="col" href=@linkedInUrl>@linkedInUrl</a>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="container row">
                        <h2>@localizer["OutsideSources"]</h2>
                        <span>@localizer["OutsideSourcesGuide"]</span>
                        <HomePage.Shared.Components.LinkTable ExternalAliases="@localized_data.ExternalLinks" UseHorizontalTable="true" IgnoreHeaders="true" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@functions {
    private bool _dataLoaded;
    private ProfileContentModel localized_data;
    private string linkedInUrl => localized_data?.ExternalLinks.FirstOrDefault(i => i.Title.ToLower() == "linkedin")?.Logo?.Hyperlink;
    private bool linkedInUrlEmpty => string.IsNullOrEmpty(linkedInUrl);

    private string[] Descriptions
    {
        get
        {
            var tmp = localizer["ProfileDescription"]?.Value;

            var splitter = @"\r\n";

            if (tmp.Contains(splitter))
            {
                return tmp.Split(splitter);
            }
            else
            {
                return new string[] { tmp };
            }
        }
        set { }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            localized_data = await contentService.LoadProfileData();

        }
        finally
        {
            _dataLoaded = true;
        }
    }
}