@using SharedModels
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<App> localizer

@if (Educations?.Any() ?? false)
{
    <div class="container profile_item">
        <div class="row ">
            <div class="col row_header">@localizer["Degree"]</div>
            <div class="col row_header">@localizer["School"]</div>
            <div class="col row_header">@localizer["Duration"]</div>
            <div class="col row_header">@localizer["Location"]</div>
            <div class="col row_header">@localizer["Description"]</div>
        </div>
        @foreach (var item in (Educations?.OrderByDescending(i => i?.Order ?? 0).ToArray() ?? new Education[] { }).OrderBy(i => i.Order))
        {
            <div class="row education_row">
                <div class="col">@item.Degree</div>
                <div class="col">@item.School</div>
                <div class="col">@item.Duration</div>
                <div class="col">@item.Location</div>
                <div class="col">@item.Description</div>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public SharedModels.Education[] Educations { get; set; }

}
